{% extends 'templates/app.twig' %}

{% block content %} 

<form action="{{ path_for('create') }}" method="post" autocomplete="off" enctype="multipart/form-data" id="taskForm">
   <div class="container">
                 <div class="page-header">
              <h1 class="page-title">New  Task </h1>
            </div> 
            <div class="row">
            <div class="col-lg-4">
        
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Task details</h3>
                </div>
                <div class="card-body">
                  
                  
                  <div class="form-group">
                        <div class="form-label">Task publish status</div>
                        <div class="custom-controls-stacked">
                          <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="is_draft" value="false" required>
                            <span class="custom-control-label">Publish</span>
                          </label>
                          <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="is_draft" value="true">
                            <span class="custom-control-label">Save as draft</span>
                          </label>
                        </div>
                  </div>
                 
                  <div class="form-group">
                        <label class="form-label">Task Status</label>
                        <div class="selectgroup w-100">
                          
                          {% for status in statuses %}
                            <label class="selectgroup-item">
                              <input type="radio" name="taskstatus" value="{{status.statusid}}" class="selectgroup-input" required > 
                              <span class="selectgroup-button">{{status.statusname}}</span>
                            </label>
                          {% endfor %}
                          
                        </div>
                      </div>

                    
                    <div class="form-group">
                        <label class="form-label">Task Types</label>
                            <div class="selectgroup selectgroup-pills">
                              
                              {% for type in types %}
                              <label class="selectgroup-item">
                                <input type="radio" name="tasktypeid" value="{{type.tasktypeid}}" class="selectgroup-input" required>
                                <span class="selectgroup-button selectgroup-button-icon">{{type.tasktypename}}</span>
                              </label>
                              {% endfor %}
                              
                            </div>
                      </div>
                  

                      <div class="form-group">
                          <label class="form-label">Assigned to</label>
                          <div class="row gutters-sm">
                           
                            {% for user in users %}
                                <div class="col-6 col-sm-4">
                                  <label class="imagecheck mb-4">
                                    <input name="assigned[]" type="checkbox" value="{{ user.id }}" class="imagecheck-input">
                                    <figure class="imagecheck-figure">
                                      <img src="{{ user.photo }}" alt="}" class="imagecheck-image">
                                    </figure>
                                  </label>
                                </div>
                             {% endfor %}
                             
                          </div>
                      </div>
                  
                </div>
              </div>
              
              
            </div>
            <div class="col-lg-8">
                <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Task description</h3>
                </div>
                <div class="card-body">
                  
                  <div class="row">
                    <div class="form-group col-sm-8 col-md-10">
                        <label class="form-label">Task title <span class="form-required">*</span></label>
                        <input type="text" class="form-control" name="tasktitle" placeholder="Enter task title" required>
                    </div>
                    
                    <div class="form-group col-sm-4 col-md-2">
                      <label class="form-label">Project <span class="form-required">*</span>
                      </label>
                      <select class="custom-select" name="taskproject">
                        {% for project in projects %}
                          <option value="{{ project.projectid }}">{{ project.projectname }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  
                    <div id="sections">   
                        <label class="form-label">Task checklist <span class="form-required">*</span></label>
                      <div class="section row" >
                          <div class="col-sm-12 col-md-9">
                              
                              <div class="input-group" style="margin-bottom:10px;">
                                <span class="input-group-prepend " id="basic-addon1">
                                  <span class="input-group-text remove"><i class="fa fa-window-close" aria-hidden="true"></i></span>
                                </span>
                                <input type="text" name="text[]" class="form-control" id="id_0" required>
                              </div>
                            
                          
                          </div>
                          
                          <div class="col-sm-12 col-md-3">
                      
                            <select class="form-control custom-select" name="byuser[]">
                              {% for u in users %}
                                <option value="{{ u.id }}">{{ u.name }}</option>
                              {% endfor %}
                            </select>
                          
                          </div>
 
                      </div>
                  </div>
                   
                   <div class="row">
                      <div class="col-sm-12 col-md-8">
                        <p><a href="#" class="addsection btn btn-success">New Line</a></p>
                      </div>
                  </div>
                    
                    <div class="row">
                    <div class="col-md-12">
                      <div class="form-group mb-0">
                        <label class="form-label">Task description <span class="form-required">*</span></label>
                        <textarea rows="3" class="form-control" name="tasktext" id="addtask"></textarea>
                      </div>
                    </div>

                    <script>
                        var simplemde = new SimpleMDE({ element: document.getElementById("addtask"), forceSync: true, showIcons: ["code", "table"], spellChecker: false });
                    </script>

                <div class="col-md-12">
                  <div class="alert alert-icon alert-primary" role="alert">
                    <i class="fe fe-bell mr-2" aria-hidden="true"></i> Please select bulk files to upload or leave blank. 
                  </div>
                </div>
                
                <div class="col-md-12">
                   <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" readonly>
                          <div class="input-group-btn">
                            <span class="fileUpload btn btn-info">
                                <span class="upl" id="upload">Upload multiple file</span>
                                <input type="file" name="taskfiles[]" class="upload up" id="up" onchange="readURL(this);" multiple/>
                              </span>
                          </div>
                      </div>
                   </div>
                </div>

                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-primary" id="checkBtn"><i class="fe fe-send mr-2"></i> Creat Task</button>
                  <input type="hidden" name="taskauthor" value="{{ auth.user.id }}">
                </div>
              </div>
                          
            </div>

          </div>
        </div>
</form>
{% endblock %}