<div class="modal fade" id="editChecklist" tabindex="-1" data-keyboard="false"  data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header text-white bg-secondary">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Checklist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> </button>
        </div>
        <form action="{{ path_for('edittaskcheklist') }}" method="post" autocomplete="off">
        <div class="modal-body">
        <div class="row" >
        <div class="col-md-6">
            <div class="form-group">
            <select class="form-control custom-select" name="byuser">
                {% for u in users %}
                    <option value="{{ u.id }}" {% if item.byuser == u.id %}selected{% endif %}>{{ u.name }}</option>
                {% endfor %}
            </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <select class="form-control custom-select" name="type">
                <option value="frontend" {% if item.type == 'frontend'%}selected{% endif %}>Frontend</option>
                <option value="backend" {% if item.type == 'backend'%}selected{% endif %}>Backend</option>
            </select>
            </div>
        </div>

        <div class="col-md-12 simple-mde"> 
            <div class="form-group">
                <textarea rows="3" class="form-control textarea" name="text" id="editTaskChecklistMDE">{{item.text}}</textarea>
                <script>
                    var simplemde = new SimpleMDE({
                        element: document.getElementById("editTaskChecklistMDE"),
                        forceSync: true,
                        autofocus: true,
                        showIcons: ["code", "table"],
                        spellChecker: false
                    });
                </script>
            </div>
        </div>       

            <input type="hidden" name="checklistid" value="{{item.id}}">
            <input type="hidden" name="taskid" value="{{item.taskid}}">
            
        </div>

        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </form>
    </div>
    </div>
</div>