{% extends 'templates/app.twig' %}

{% block content %} 

    <div class="container">
          <div class="page-header">
              <h1 class="page-title">
                Tested tasks
              </h1>
            </div> 
            
            {% include 'templates/partials/flash.twig' %} 
            
            <div class="row row-cards row-deck">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                     
                      <thead>
                        <tr>
                          <th>Task title</th>
                          <th class="text-center">Task type</th>
                          <th>Assigned</th>
                          <th>Project</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                    
                    {% if tested %}     
                        
                        {% for t in tested %}
                            <tr>
                              

                              
                              <td>
                                <div><a href="{{base_url()}}/view/{{ t.taskid }}" >{{ t.tasktitle }}</a></div>
                                <div class="small text-muted">
                                 {{ t.created_at |date("d.m.Y H:i")}}
                                </div>
                              </td>
                              
                              <td class="text-center">
                                <span class="badge badge-{{ t.tasktypecolor }}">{{ t.tasktypename }}</span>
                              </td>
                              
                              <td>
                                <div class="assignee">{{ t.assignedUsers }}</div>
                              </td>
                              
                              <td>
                                <div>{{ t.projectname }}</div>
                                <div class="small text-muted">
                                 {{ t.projectsartdate |date("d.m.Y")}}
                                </div>
                              </td>
                              
                              <td>
                                  <span class="status-icon bg-{{ t.statuscolor }}"></span> {{ t.statusname }}
                              </td>
                                
                              <td>
                                <a href="{{base_url()}}/view/{{ t.taskid }}" class="btn btn-secondary btn-sm">Open</a>
                                {% if auth.user.is_admin == "true" %} 
                                  <a href="{{base_url()}}/edit/{{ t.taskid }}" class="btn btn-success btn-sm"><i class="fe fe-edit"></i></a>
                                  <a onclick="return confirm('Are you shure?');" href="{{base_url()}}/delete/{{ t.taskid }}" class="btn btn-danger btn-sm"><i class="fe fe-trash"></i></a>
                                {% endif %}
                              </td>
                            </tr>
                        {% endfor %}
                        
                       {% else %}
                      
                      <tr>
                        <td class="text-center" colspan="7"> No tested task for now.</td>
                      </tr>
                    {% endif %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              
              
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    
                    <li class="page-item {% if paginator == 1 %} disabled {% endif %}">
                      <a class="page-link" href="?page={{paginator - 1}}" tabindex="-1">← Newer</a>
                    </li>
                    
                    <li class="page-item {% if tested|length < 5 %} disabled {% endif %}">
                      <a class="page-link" href="?page={{paginator + 1}}">Older →</a>
                    </li>
                  </ul>
                </nav>
              
              
              </div>
            </div>
          </div>

{% endblock %}