{% extends 'templates/app.twig' %}

{% block content %} 


{% set brands = [] %}
{% for user in assigned %}
    {% if user.id not in brands %}
        {% set brands = brands|merge([user.id]) %}
    {% endif %}
{% endfor %}



{% for one in task %}
<div class="container">
  {#TASK VIEW PAGE TITLE #}
  <div class="page-header">
      <h1 class="page-title">View task | Project: {{one.projectname}} </h1>  
      {% if one.is_draft == 'true' %} &nbsp; &nbsp; <span class="badge badge-warning ">Viewing Draft Task</span>{% endif%}
      <a href="{{base_url()}}/wiki/{{one.projectname}}">
           <img class="" src="{{base_url()}}/assets/images/wiki.png" title="View project documentation"/>
      </a>
  </div> 
              
  {% include 'templates/partials/flash.twig' %} 
          
  <div class="row">
    {#TASK BODY CONTAINER#}
    <div class="col-md-12">
      <div class="card border-{{one.tasktypecolor}}">
        <div class="card-header 
          {% if one.tasktypecolor != "default" %} text-white {% endif %} bg-{{one.tasktypecolor}}">
            <h3 class="card-title">{{one.tasktitle}}</h3>
            {% include 'tasks/taskcheklistaddform.twig' %}
        </div>
          
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              
              {#TABS SELECTOR#}
              <ul class="nav nav-tabs" id="myTab" role="tablist">
              
                {# ALL TASKS #}
                <li class="nav-item">
                  <a class="nav-link active" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">
                    <i class="fe fe-activity"></i> Task details</a>
                </li>

                {# Task discussion #}
                <li class="nav-item">
                  <a class="nav-link" id="discussion-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="discussion" aria-selected="true">
                    <i class="fe fe-message-square"></i> Task discussion 
                    <span class="text-right tab-comment-count" id="comment-count">{{comments|length}}</span>
                  </a>
                </li>
              
                {# Task details/settings #}
                <li class="nav-item">
                  <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="true">
                    <i class="fe fe-settings"></i> Task details 
                    
                  </a>
                </li>
              
                {# USERS TODO LIST#}
                <li class="nav-item">
                  <a class="nav-link" id="todolist-tab" data-toggle="tab" href="#todolist" role="tab" aria-controls="todolist" aria-selected="false">
                    <i class="fe fe-check-square"></i> Todo list 
                    <span class="text-right tab-comment-count" id="checklist-count">{{checks|length}}</span>
                  </a>
                </li>

              </ul>
              
              <div class="tab-content" id="myTabContent">
                
                {# ALL TASKS CONTENT #}
                <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
                  <div class="form-group mb-0">
                      <div class="form-control-plaintext">{{ markdown(one.tasktext) | raw }}</div>
                        {% include 'tasks/viewpagetemplates/taskdetails.twig' %}
                  </div>
                </div>

                {# TASK DISCUSSION #}
                <div class="tab-pane fade" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
                  {% include 'tasks/viewpagetemplates/taskdiscussion.twig' %}  
                </div>

                {# Task details/settings #}
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    {% include 'tasks/viewpagetemplates/tasksettings.twig' %}
                </div>

                {# USERS TODO LIST#}
                <div class="tab-pane fade" id="todolist" role="tabpanel" aria-labelledby="todolist-tab">
                  {% include 'tasks/viewpagetemplates/usertodolist.twig' %}
                </div>

              </div>
              
            </div>
          </div>
        </div>
          
      </div>          
    </div>
  </div>
</div> 
{% endfor %}
{% endblock %}